<div class="fileStructure component"
     data-resources="[{paths: ['components/demoFileStructure/scss/test.css', 'components/demoFileStructure/test.css'] }]"
     data-init=""
>
    <h2>Simple HBS Include via "include" and default partial helper</h2>
    {{include 'components/demoFileStructure/hbs/test'}}
	{{> components/demoFileStructure/hbs/test}}

	<hr style="margin: 20px;">

    <h2>Pass variables to partial</h2>
    {{include 'components/demoFileStructure/hbs/test'
		headline='headline passed from outside'
		text="some other text"
    }}

	{{> components/demoFileStructure/hbs/test
		headline='headline passed from outside'
		text="some other text"
	}}

	<hr style="margin: 20px;">

	<h2>include json file and pass to partial via "include" helper</h2>
	{{include 'components/demoFileStructure/hbs/test'
			  json='data.components.demoFileStructure.scaffolding.simpleVariation'
	}}

	<hr style="margin: 20px;">

	<h2>include inline json object and pass to partial via "include" helper</h2>
	{{include 'components/demoFileStructure/hbs/test'
			  object='{
					"headline": "Variation 1 Headline",
					"items": [
						{
							"itemText": "List item 1"
						},
						{
							"itemText": "List item 2"
						},
						{
							"itemText": "List item 3"
						}
					]
				}'
	}}

	<hr style="margin: 20px;">

    <h2>complex include json file with sub partials</h2>

	{{include 'components/demoFileStructure/hbs/partialDemo'
			  json='data.components.demoFileStructure.scaffolding.complexVariation'
	}}

	<hr style="margin: 20px;">

	<h2>accessing global data object</h2>
	<p>{{data.components.demoFileStructure.fileStructure.someTestData}}</p>
	<ul>
		{{#each data.components.demoFileStructure.fileStructure.children}}
			<li>{{this}}</li>
		{{/each}}
	</ul>
</div>
