<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{package.title}} | {{package.version}}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="navbar-fixed-top.css" rel="stylesheet">

    <style>
        body {
            min-height: 2000px;
            padding: 70px 0;
        }
        .capitalize {
            text-transform: capitalize;
        }
        .anchor {
            padding-top: 65px;
            margin-top: -15px;
        }
        p {
            margin: 0;
        }
        .panel {
            margin-bottom: 0;
        }
    </style>
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{package.title}} {{package.version}}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
				{{#each templates}}
					{{#if indexr.category}}
						<li><a href="#category{{indexr.priority}}" class="capitalize">{{indexr.category}}</a></li>
					{{/if}}
				{{/each}}
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{package.title}} {{package.version}}</h3>
        </div>
        <div class="panel-body">
            This VI Frontend Framework is a framework to build state of the art websites with an approved UI look and feel. It provides ready-to-use layouts, design and functionaliy and incorporates many proven practices used to build excellent websites. It has an adaptive / responsive design, is build mobile first and while it makes use of modern browser's capabilities, it also works on browsers as ancient as Internet Explorer 9. We hope to save you and your team hundreds of hours of work - Hours which you can invest in better content and maybe even into helping us improve this framework.
			{{#if browserSupport}}
				<p>{{{browserSupport.message}}}</p>
			{{/if}}
		</div>
    </div>

    <div class="row">
        <div class="col-sm-8">
			{{#each templates}}
				{{#if indexr.category}}
					<h2 class="anchor capitalize" id="category{{indexr.priority}}">{{indexr.category}}</h2>
				{{/if}}
				<h4><a href="{{indexr.file.name}}.html">{{def this.title indexr.file.name}}</a></h4>
				{{#if this.description}}
					<p>{{this.description}}</p>
				{{/if}}

			{{/each}}

        </div>
        <div class="col-sm-4">
            <h2 class="anchor">Categories</h2>
            <ul>
				{{#each templates}}
					{{#if indexr.category}}
						<li><a href="#category{{indexr.priority}}" class="capitalize">{{indexr.category}}</a></li>
					{{/if}}
				{{/each}}
            </ul>
        </div>
    </div>

</div> <!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
