{{bioHelperInclude 'layouts/includes/htmltag' }}
<head>
	{{bioHelperInclude 'layouts/includes/htmlhead.meta' }}

	<!-- inject:head:html -->
	<!-- endinject -->

	<!-- DEV-note: include page specific meta information after this comment -->

	{{bioHelperInclude 'layouts/includes/htmlhead.styles' }}

	{{bioHelperInclude 'layouts/includes/htmlhead.scripts' }}

	<!-- DEV-note: include page specific styles and scripts after this comment -->
</head>
<body role="document" class="{{bodyClass}}">
    {{bioHelperInclude 'components/framework/header/header' }}

    <main class="content">
        <article>
            {{bioHelperInclude (lookup . 'contentMain') }}
        </article>
    </main>

    {{bioHelperInclude 'components/framework/footer/footer' }}

	{{bioHelperInclude 'layouts/includes/scripts' }}
	{{bioHelperInclude 'layouts/includes/tracking' }}

	<!-- DEV-note: include page specific scrips after this comment -->
</body>
</html>
