{{bioInclude 'layouts/includes/htmltag' }}

<head>
	{{bioInclude 'layouts/includes/htmlhead.meta' }}

	<!-- inject:head:html -->
	<!-- endinject -->

	<!-- DEV-note: include page specific meta information after this comment -->

	{{bioInclude 'layouts/includes/htmlhead.styles' }}

	{{bioInclude 'layouts/includes/htmlhead.scripts' }}

	<!-- DEV-note: include page specific styles and scripts after this comment -->
</head>

<body role="document" class="{{bodyClass}}">
	{{!-- {{bioInclude 'components/XHeader/scaffolding/demo' }} --}}
	{{bioInclude (lookup . 'contentMain') }}


	{{!-- {{bioInclude 'components/XFooter/scaffolding/demo' }} --}}

	{{bioInclude 'layouts/includes/scripts' }}

	<!-- DEV-note: include page specific scrips after this comment -->
</body>

</html>